<!DOCTYPE html>
<html lang="en">
    <head>
        <title>About</title>
        <link rel="stylesheet" href="/css/styles.css">
    </head>    
    <body>
        <div class="main-content">
            {{>header}}
            <p>About Page created by {{name}}</p>
            <img class="portrait" src="/img/captain.jpg">
        </div>
        
        {{>footer}}
    </body>
</html>